
RewriteEngine on

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to composer Files
<FilesMatch "composer">
    Order allow,deny
    Deny from all
</FilesMatch>
